.homePage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.myTrips{
    width:50%;  
}

.myCardGroup{
    display:flex;
    flex-wrap: wrap;
}
.myCard{
    margin:5px;
}
