.homePage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.myTrips{
    width:80%;  
}

.Card{
    margin:5px;
}
